[run]
branch = true
omit = 
  documentregister/documents/apps.py
  documentregister/documents/admin.py
  *migrations*
source = documentregister/documents

[paths]
source = documentregister/documents
omit = 
  documentregister/documents/apps.py
  documentregister/documents/admin.py
  *migrations*

[report]
omit = 
  documentregister/documents/apps.py
  documentregister/documents/admin.py
  *migrations*
show_missing = true
