{% extends "base.html" %}

{% block body %}
<div class="row">
    <h2>{{ object.full_title }}</h2>
    <div class="col-md-6">
        <p><strong>Document Type:</strong> {{ object.document_type }}</p>
        <p><strong>Description</strong> {{ object.description }}</p>
        <p><strong>Author</strong> {{ object.author_name }}</p>
        <p><strong>Author Email</strong> {{ object.author_email }}</p>
        <p><strong><a href="{{ object.link }}">link</a></strong></p>
        <p><strong>Created</strong> {{ object.created_at }}</p>
    </div>
</div>
{% endblock %}
