{% extends "base.html" %}

{% block dr_body %}
    {% if object_list %}
        <table id="documents" class="table table-hover">
        <thead>
            <tr>
                <th>Document Number</th>
                <th>Title</th>
                <th>Author</th>
                <th>Date Registered</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.tag }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.author_name }}</td>
                <td>{{ object.created_at }}</td>
                <td><a href="{% url 'edit' pk=object.pk %}" class="btn btn-xs btn-warning">Edit</a> <a href="{% url 'detail' pk=object.pk %}" class="btn btn-xs btn-success">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{% url 'search' %}?q={{ query }}&page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a href="{% url 'search' %}?q={{ query }}&page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>No documents found!!! :(</p>
    {% endif %}
{% endblock %}
